body {
    color: #aaa;
    background-color: #777;
}

.wrapper {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header"
      "sidebar main main"
      "footer footer footer";
}

.item-one {
    grid-area: header;
    background-color: azure;
    text-align: center;

}

.item-two {
    grid-area: sidebar;
    margin: 0;
    height: 100vh;
    background: linear-gradient(to right bottom, rgb(80, 80, 78), rgb(194, 192, 191));
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav ul li a {
    text-decoration: none;
}
nav ul li {
	font-size: 30px;
	font-family: sans-serif;
	background-color: white;
	border: 2px solid black;
	letter-spacing: 1px;
	width: 5em;
	height: 1.5em;
	line-height: 1.5em;
	position: relative;
	overflow: hidden;
	margin: 0.5em;
	cursor: pointer;
}

nav ul li span {
	color: white;
	mix-blend-mode: difference;
}

nav ul li::before {
	content: '';
	position: absolute;
	width: 1.5em;
	height: inherit;
	background-color: black;
	border-radius: 50%;
	top: 0;
	left: -0.75em;
	transition: 0.5s ease-out;
}

nav ul li:hover::before {
	transform: scale(7);
}


.item-three {
    grid-area: main;
    color: black;
    background-color: white;
    text-align: center;
}

main {
    margin-left: 200px;
    padding: 1px 16px;
}

.item-four {
    grid-area: footer;
    text-align: center;
}

footer {
    font-size: x-large;
}

#hero {

    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: white url("https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1302&q=80") no-repeat center center;
    background-size: cover;
    min-height: 150px;
    opacity: 0.9;

}

#hero h1 {
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.41);
    display: inline-block;
    border-radius: 5px;
    font-size: 3em;
}

